@font-face {
  font-family: Roboto-Regular;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}
html {
  scroll-behavior: smooth; /*включает плавную прокрутку*/
}

body {
  cursor: pointer; /*изменение внешнего вида курсора*/
  font-family: Roboto-Regular;
  min-height: 100vh; /*мин высота body не может быть меньше высоты страницы*/
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /*переопределили направление главной оси*/
  justify-content: space-between; /*определяет выравнивание элементов по главной оси (по умолчанию у flexbox главная ось горизонтальная и свойство justify-content выравниваетэлементы по горизонтали), но т.к. мы переопределили направление главной оси, значит justify-content определяет выравнивание по вертикали*/
  /*Свойство justify-content: space-between; указывает, что все элементы размещаются на максимальном расстоянии друг от друга, крайние прижаты к границам родителя.*/
}
* {
  box-sizing: border-box; /*Благодаря свойству box-sizing: border-box; границы и внутренние отступы будут учитываться в значениях, которые вы указываете в ширине и высоте элемента. Это упрощает работу с размерами, позволяет указывать их более логично*/
  border: 1px solid red; /* добавляет границы блокам*/
}
.container {
  max-width: 1440px; /*ограничивает ширину контйнера (контейнер будет сремится занять всю ширину окна браузера, пока ширина окна не превышает 1440px)*/
  margin: 0 auto; /*центрирует контейнер на странице по горизонтале*/
}
.nav-list {
  display: flex; /*размещение всех элементов в одну строку*/
  justify-content: flex-end; /*сдвинуть элементы вправо*/
  align-items: center; /*выровнять по центру*/
  list-style: none; /*убираем стандартные маркеры*/
}

.nav-link {
  /*добавляем отступы между элементами списка*/ /*Отступы добавляем ссылкам, а не элементам списка. Это позволяет увеличить площадь, по которой можно кликнуть, чтобы перейти по ссылке, и улучшает удобство пользования приложением.*/
  padding: 0 20px;
  line-height: 50px;
  font-size: 15px; /*размер шрифта ссылок*/
  transition: 0.3s; /*Чтобы свойства менялись плавно*/
  color: dodgerblue; /*цвет ссылкам*/
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  /* Так как ссылки - строчные элементы, вертикальные padding у них создаются, но не отталкивают другие элементы. Для строчных элементов вместо вертикальных padding удобнее указывать высоту строки.*/
}

a:hover {
  /*срабатывает, когда пользователь наводит на элемент мышью, но не обязательно активирует его*/
  color: #31c242; /*цвет ссылки при наведении мыши*/
  text-decoration: underline; /*подчеркивание ссылки при наведении мыши*/
}
.name {
  font-weight: 500;
  font-style: italic; /*Курсивное начертание.*/
  color: dodgerblue;
  text-transform: capitalize; /*Первый символ каждого слова в предложении будет заглавным. Остальные символы свой вид не меняют.*/
}
.text-italic {
  font-style: italic;
}
.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase; /*Все символы текста становятся прописными (верхний регистр).*/
  letter-spacing: 5px;
  color: dodgerblue;
}
