@font-face {
  font-family: Roboto-Regular;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}
html {
  scroll-behavior: smooth; /*включает плавную прокрутку*/
}

body {
  font-family: Roboto-Regular;
  min-height: 100vh; /*мин высота body не может быть меньше высоты страницы*/
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /*переопределили направление главной оси*/
  justify-content: space-between; /*определяет выравнивание элементов по главной оси (по умолчанию у flexbox главная ось горизонтальная и свойство justify-content выравниваетэлементы по горизонтали), но т.к. мы переопределили направление главной оси, значит justify-content определяет выравнивание по вертикали*/
  /*Свойство justify-content: space-between; указывает, что все элементы размещаются на максимальном расстоянии друг от друга, крайние прижаты к границам родителя.*/
}
* {
  box-sizing: border-box; /*Благодаря свойству box-sizing: border-box; границы и внутренние отступы будут учитываться в значениях, которые вы указываете в ширине и высоте элемента. Это упрощает работу с размерами, позволяет указывать их более логично*/
  border: 1px solid red; /* добавляет границы блокам*/
}
.container {
  max-width: 1440px; /*ограничивает ширину контйнера (контейнер будет сремится занять всю ширину окна браузера, пока ширина окна не превышает 1440px)*/
  margin: 0 auto; /*центрирует контейнер на странице по горизонтале*/
}
.header {
  background-color: rgb(124, 189, 255);
}
.nav-list {
  display: flex; /*размещение всех элементов в одну строку*/
  justify-content: flex-end; /*сдвинуть элементы вправо*/
  align-items: center; /*выровнять по центру*/
  list-style: none; /*убираем стандартные маркеры*/
}

.nav-link {
  /*добавляем отступы между элементами списка*/ /*Отступы добавляем ссылкам, а не элементам списка. Это позволяет увеличить площадь, по которой можно кликнуть, чтобы перейти по ссылке, и улучшает удобство пользования приложением.*/

  padding: 0 20px;
  line-height: 50px;
  font-size: 16px; /*размер шрифта ссылок*/
  transition: 0.3s; /*Чтобы свойства менялись плавно*/
  background-color: rgb(124, 189, 255);
  color: rgb(255, 255, 255); /*цвет ссылкам*/
  text-decoration: none; /* Отменяем подчеркивание у ссылки */

  /* Так как ссылки - строчные элементы, вертикальные padding у них создаются, но не отталкивают другие элементы. Для строчных элементов вместо вертикальных padding удобнее указывать высоту строки.*/
}

.nav-link:hover {
  /*срабатывает, когда пользователь наводит на элемент мышью, но не обязательно активирует его*/
  color: #ffffff; /*цвет ссылки при наведении мыши*/
  text-decoration: underline; /*подчеркивание ссылки при наведении мыши*/
}
.name {
  font-weight: 500;
  font-style: italic; /*Курсивное начертание.*/
  color: dodgerblue;
  justify-content: center; /*Элементы позиционируются в центре контейнера*/
  display: flex; /*создание флекс контейнера*/
  flex-direction: column; /*задаёт направление основных осей в контейнере и тем самым определяет положение флексов в контейнере. Сolumn-Главная ось располагается вертикально и направлена сверху вниз.*/
  text-align: center;
  text-transform: capitalize; /*Первый символ каждого слова в предложении будет заглавным. Остальные символы свой вид не меняют.*/
}
.text-italic {
  font-style: italic;
}
.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase; /*Все символы текста становятся прописными (верхний регистр).*/
  letter-spacing: 2px; /*увеличивающее расстояние между символами*/
  color: dodgerblue;
}
/*Сетка страницы - взаимное расположение больших блоков, к которым относятся header, main и footer, а так же расположенные внутри main секции. Сейчас секции растягиваются по всей ширине страницы. Так как контента в них не очень много, это выглядит некрасиво. Расположим секции в две колонки. Для этого контейнеру секции main указываем дополнительный класс main-container и css-свойства. в класс .section добавляем свойство width: 50% -у секций указывает, что каждая секция занимает ровно половину ширины контейнера*/

.main-container .container {
  display: flex; /*у контейнера размещает секции по горизонтали*/
  flex-wrap: wrap; /* секции, которые не помещаются по ширине контейнера переносятся на новую строку*/
}
.section {
  width: 50%; /*у секций указывает, что каждая секция занимает ровно половину ширины контейнера*/
}

/*при уменьшении ширины экрана до 768px, секция будет занимать всю ширину, позволит медиазапрос:*/
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%; /*скруглить углы блока*/
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6); /*тень аватарки*/
  filter: grayscale(0.1) brightness(1.038); /*фильтр оттенока серого и яркость*/
  transition: 0.3s; /*переход*/
}
.photo:hover {
  filter: none; /*отмена фильтра при наведении*/
}
.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
  border-bottom: 15px solid #bcddf6;
}
a {
  /*цвет ссылки и убирание подчеркивания*/
  color: dodgerblue;
  text-decoration: none;
}
a:hover {
  color: dodgerblue;
  text-decoration: underline; /*при наведении курсора мыши на ссылку */
}

.footer {
  background-color: rgb(124, 189, 255);
  padding: 20px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #fff;
}
.github {
  color: #fff;
  text-decoration: none;
}
