@font-face {
  font-family: Inika;
  src: url("/rsschool-cv/plants/assets/fonts/Inika.ttf");
}
.html {
  scroll-behavior: smooth; /*включает плавную прокрутку*/
  box-sizing: border-box; /*Благодаря свойству box-sizing: border-box; границы и внутренние отступы будут учитываться в значениях, которые вы указываете в ширине и высоте элемента. Это упрощает работу с размерами, позволяет указывать их более логично*/
}
/*
 *,
*::before,
*::after {
  box-sizing: inherit; /*наследовать от родителя*/

.body {
  display: flex;
  font-family: Inika;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  border: 1px solid red; /*добавляет границы блокам*/
}
.header {
  background-color: rgba(237, 242, 236, 1);
  display: flex;
}
.container {
  display: flex;
  align-items: center; /*выровнять по центру*/
}
.header-container {
  display: flex;

  flex-wrap: wrap; /*отвечает за перенос контента, чтобы не наезжали другна друга  а переносились на новую строку*/
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
}

.menu {
  display: flex;
  justify-content: flex-end; /*сдвинуть элементы вправо*/
}

.nav-list {
  margin: 0 auto;
  display: flex; /*размещение всех элементов в одну строку*/
  justify-content: flex-end; /*сдвинуть элементы вправо*/
  align-items: center; /*выровнять по центру*/
  list-style: none; /*убираем стандартные маркеры*/
  flex-wrap: wrap; /*перенос контента на другую строку*/
}
.header-items {
  margin-right: 46px;
}
.header-logo {
}
.header-items:last-child {
  margin-right: 0;
}
.logo-header-link {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  display: flex; /*размещение всех элементов в одну строку*/
}
.nav-link {
  /*добавляем отступы между элементами списка*/ /*Отступы добавляем ссылкам, а не элементам списка. Это позволяет увеличить площадь, по которой можно кликнуть, чтобы перейти по ссылке, и улучшает удобство пользования приложением.*/
  justify-content: flex-end; /*сдвинуть элементы вправо*/

  font-size: 16px; /*размер шрифта ссылок*/
  transition: 0.3s; /*Чтобы свойства менялись плавно*/

  color: rgb(20, 33, 9); /*цвет ссылкам*/
  text-decoration: none; /* Отменяем подчеркивание у ссылки */

  /* Так как ссылки - строчные элементы, вертикальные padding у них создаются, но не отталкивают другие элементы. Для строчных элементов вместо вертикальных padding удобнее указывать высоту строки.*/
}
